## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,81.59,77,87,15.57,overcast clouds
1,1,Upernavik,GL,72.7868,-56.1549,43.66,77,5,12.06,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,38.86,81,40,2.30,scattered clouds
3,3,Chara,RU,56.9064,118.2631,63.99,77,100,2.75,overcast clouds
4,4,Damietta,EG,31.4165,31.8133,80.49,78,4,8.10,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("Enter the minimum temperature criteria")
min=float(input())
print("Enter the maximum temperature criteria")
max=float(input())

Enter the minimum temperature criteria
60
Enter the maximum temperature criteria
90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max) & (city_data_df["Max Temp"] >= min)] 
                                    
preferred_cities_df.tail()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
689,689,Sabang,ID,5.8933,95.3214,81.55,69,100,20.36,light rain
690,690,Skjervoy,NO,70.0311,20.9714,62.60,76,100,12.55,overcast clouds
692,692,Cajamarca,PE,-7.1638,-78.5003,68.07,42,75,4.61,broken clouds
693,693,Campbell River,CA,50.0163,-125.2446,62.98,88,100,6.91,overcast clouds
696,696,Merauke,ID,-8.4667,140.3333,77.38,89,25,10.92,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()
#np.where(preferred_cities_df.isnull())

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.59,overcast clouds,3.0707,172.7902,
3,Chara,RU,63.99,overcast clouds,56.9064,118.2631,
4,Damietta,EG,80.49,clear sky,31.4165,31.8133,
6,Banda Aceh,ID,78.87,overcast clouds,5.5577,95.3222,
7,Nikolskoye,RU,62.49,scattered clouds,59.7035,30.7861,
10,Barcelos,PT,72.91,clear sky,41.5388,-8.6151,
11,Sao Filipe,CV,77.41,broken clouds,14.8961,-24.4956,
15,Vila Franca Do Campo,PT,73.81,scattered clouds,37.7167,-25.4333,
16,Vostok,RU,67.57,broken clouds,46.4856,135.8833,
18,Kita,ML,75.02,light rain,13.0349,-9.4895,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.59,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
3,Chara,RU,63.99,overcast clouds,56.9064,118.2631,
4,Damietta,EG,80.49,clear sky,31.4165,31.8133,SULIMAN INN
6,Banda Aceh,ID,78.87,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
7,Nikolskoye,RU,62.49,scattered clouds,59.7035,30.7861,Tourist House - Sablino

In [10]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df["Hotel Name"]=""
clean_hotel_df=hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.59,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
4,Damietta,EG,80.49,clear sky,31.4165,31.8133,SULIMAN INN
6,Banda Aceh,ID,78.87,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
7,Nikolskoye,RU,62.49,scattered clouds,59.7035,30.7861,Tourist House - Sablino
10,Barcelos,PT,72.91,clear sky,41.5388,-8.6151,Hotel Restaurante Bagoeira

In [11]:
# 8a. Create the output File (CSV)
output_data_file="C:/Users/natnael/Documents/World_Weather_Analysis/weather_data/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
 #9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
#Use gmaps function known as marker layer
#figadd()
#Refer to 6.5.2
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))